name: tests
on:
  push:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: pip install -r requirements.txt pytest

      - name: Set up Firebase credentials
        run: |
          echo "${{ secrets.SERVICE_ACCOUNT }}" | base64 --decode > admin_sdk.json

      - run: pytest
